@import '../../index.scss';

.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 60px;
}

.App-header {
    background-color: #222;
    height: 60px;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
        min-width: 250px;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-start;
        >img {
            margin-right: 10px;
        }
        >h1 {
            font-size: 1.5em;
        }
    }
    &-right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;
    }
}

@media screen and (max-width: $width-breakpoint){
    .App-header {
        justify-content: space-around;
        &-left {
            width: 80%;
            justify-content: center;
            >img {
                display: none;
            }
            >h1 {
            
                font-size: calc(0.8em + 1.5vw);
            }
        }
        &-right {
            display: none;
        }
    }
}